<!DOCTYPE html>
<html>
  <head>
    <title>Register Form</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="post">
      <table>
        <tr>
          <th>name:</th>
          <th><input type="text" placeholder="Enter Your Name" /></th>
        </tr>
        <tr>
          <th>email:</th>
          <th>
            <input
              type="email"
              name="email"
              id=""
              placeholder="Enter Your Email"
            />
          </th>
        </tr>
        <tr>
          <th>Password:</th>
          <th>
            <input
              type="password"
              name="password"
              id=""
              placeholder="Enter Your Password"
            />
          </th>
        </tr>
        <tr>
          <th>Document:</th>
          <th><input type="file" name="file" id="" /></th>
        </tr>
        <tr>
          <th>submit</th>
          <th><input type="submit" value="Submit" name="/save" /></th>
        </tr>
      </table>
    </form>
  </body>
</html>
